spring:
  application:
    name: gen-backoffice

  datasource:
    url: jdbc:postgresql://localhost:5432/backoffice
    username: admin
    password: 9185193
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080

loggin:
  level:
    com.company.genbackoffice: DEBUG
    org.hibernate.SQL: DEBUG